body > header {
  background: $header-bg;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}

.header_logo {
  float: left;
  margin-right: 40px;
  width: 79px;
  height: 100px;
}
